html, body {
  padding: 0;
  margin: 0;
}

body {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .bg-colorful {
  z-index: -2;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: url("../images/lobby/bg-menu-blur.jpg") no-repeat center center;
  background-size: cover;
}

body #particles-js {
  z-index: -1;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-size: cover;
}

h3 {
  color: white;
}

.startButton {
  padding: 10px;
  margin: 10px;
  background-color: #68381a;
  color: white;
  border: solid white;
}

.loginButton {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 99;
  padding: 10px;
  background: #68381a;
  border: solid white;
  color: white;
}

.markerText {
  color: white;
  font-family: 'Permanent Marker', cursive;
  font-size: 40px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 0;
  margin-bottom: 0;
}

.startButton:hover, .loginButton:hover {
  background-color: transparent;
  cursor: pointer;
}

.players {
  text-align: center;
}

.playerBubble {
  margin: 10px;
  padding: 10px;
}

.playerBubbleName {
  margin: 0;
}

li {
  font-size: 2em;
  padding: 10px;
  list-style: none;
  background: #846742;
  display: inline-block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px;
  border-color: white;
  color: white;
}

.content {
  z-index: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.warning {
  -webkit-box-shadow: 0 0 20px red;
          box-shadow: 0 0 20px red;
}

.infoText {
  color: white;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin: 5px;
  text-align: center;
}

.mwglogo {
  height: 30px;
  border: none;
  -webkit-transition: 500ms;
  transition: 500ms;
}

.mwglogo:hover {
  transform: scale(1.3);
  -webkit-transform: scale(1.3);
}

.join, .create {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.styledInput {
  text-transform: uppercase;
  padding: 10px;
  margin: 10px;
  background: #846742;
  border-color: white;
  color: white;
}

.styledInput:focus {
  outline: none;
}

.versioninfo {
  position: fixed;
  margin: 0;
  right: 10px;
  bottom: 10px;
  color: white;
}

.userLogin {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.form-group {
  color: white;
}

.form-group .paper-check input + span::before {
  border-color: white;
}

.game-options {
  padding: 10px;
  border-color: white;
  background-color: #68381a;
}

.game-options input {
  border-color: white;
  color: white;
}
/*# sourceMappingURL=lobby.css.map */