html {
    margin: 0;
    padding: 0;
}

img {
    border: none !important;
    border-radius: 0 !important;
}

a {
    text-decoration: none !important;
}

// Brown Buttons
.styledButton {
    padding: 10px;
    margin: 10px;
    background-color: #68381a;
    color: white;
    border: solid white;
}

.mute {
    position: fixed;
    display: flex;
    flex-direction: row;

    bottom: 10px;
    left: 10px;
    
    height: 5%;

    img {
        height: 100%;
        cursor: pointer;
    }
}