html {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 10px 10px 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: url("../images/scoring/scoring-bg.png");
  background-size: cover;
}

body .playerDiv {
  margin-bottom: 10px;
  background-color: rgba(0, 0, 0, 0.9);
  overflow: hidden;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border-style: solid;
  border-width: 5px;
  border-color: white;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
}

body .winningPlayer {
  border-color: #fc9300 !important;
  -webkit-box-shadow: 0 0 10px 5px rgba(249, 150, 16, 0.5) !important;
          box-shadow: 0 0 10px 5px rgba(249, 150, 16, 0.5) !important;
  background-color: rgba(53, 33, 6, 0.9) !important;
}

body .mute {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  bottom: 10px;
  left: 10px;
  height: 50px;
}

body .mute img {
  height: 100%;
  cursor: pointer;
}

.generalDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.trainDiv {
  width: 100%;
}

.text {
  /* font-family: 'Permanent Marker', cursive; */
  color: white;
  /* font-size: 50px; */
  margin: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.smallInfo {
  font-family: 'Arapey', serif;
  color: white;
  font-size: 20px;
  margin: 0;
}

.infodiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin-left: 20px;
  margin-right: 20px;
}

.routeCard {
  position: relative;
  height: 100%;
}

.routecardimage, .overlay {
  max-height: 100%;
  max-width: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
}

.scoreTrain {
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}
/*# sourceMappingURL=score.css.map */