html {
    margin: 0;
    padding: 0;
}

body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    margin: 0;
    background-image: url("../images/decorations/bg-pattern.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
}

.playarea {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

/* Style the tab */
.tab {
    overflow: hidden;
}

/* Style the tab content */
.tabcontent {
    position: relative;
    height: 100%;
    width: calc(100% - 50px);
    max-width: 100%;
    max-height: 100%;
}

.tablinks {
    display: block;
    width: 50px;
}

.map {
    position: absolute;
    top: 0;
    left: 0;
    max-height: 100%;
    max-width: 100%;
}

.carts {
    position: absolute;
    top: 0;
    left: 0;
    max-height: 100%;
    max-width: 100%;
    pointer-events: none;
    animation: showCarts 4s;
}

.dots {
    position: absolute;
    top: 0;
    left: 0;
    max-height: 100%;
    max-width: 100%;
    pointer-events: none;
}

.cards {
    height: calc(100vh - 10px);
    width: calc(100vw / 8);
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.destiCards {
    position: relative;
    background-image: url("../images/decorations/TicketSupport_RH.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.destiCard {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    cursor: pointer;
}

.destiSupport {
    width: 100%;
}

.maps {
    top: 0;
    height: 100%;
    display: flex;
}

.card {
    max-height: calc(100vh / 9);
    max-width: 100%;
    float: right;
    margin-bottom: 2px;
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.card:hover {
    box-shadow: 0 0 20px 2px rgba(255, 255, 255, 0.5);
}

.centerContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

.ownCards, .destiDeck {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 15%;
}

.destiDeckCard {
    height: 100%;
}

.alertShadow {
    box-shadow: 0 0 46px 2px rgba(255, 0, 0, 1);
}

.dockDecoration {
    z-index: -99;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
}

.currentPlayer {
    filter: drop-shadow(0px 0px 15px #fff);
}

.disabled {
    pointer-events: none;
}

@keyframes showCarts {
    0% {filter: brightness(2) drop-shadow(0px 0px 10px rgba(255,0,0,1));}
    20% {filter:  brightness(1) drop-shadow(0px 0px 10px rgba(255,0,0,0));}
    40% {filter: brightness(2) drop-shadow(0px 0px 10px rgba(255,0,0,1));}
    60% {filter: brightness(1) drop-shadow(0px 0px 10px rgba(255,0,0,0));}
    80% {filter: brightness(2) drop-shadow(0px 0px 10px rgba(255,0,0,1));}
    100% {filter: brightness(1) drop-shadow(0px 0px 10px rgba(255,0,0,0));}
}