.cardCounter {
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 99;
    font-size: 4em;
    font-weight: bold;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    margin: 0;
    padding: 5px;
}

.cardContainer {
    height: 100%;
    display: inline-block;
    position: relative;
    flex-shrink: 1;
    overflow-y: hidden;
    overflow-x: visible;
}

.activatedCard {
    filter: drop-shadow(0px 0px 15px rgb(0,255,0));
}

.cardTaken {
    transition: 1000ms;
    transform: translateX(-100vw);
    opacity: 0;
}

.cardTakenSelf {
    transition: 1000ms;
    transform: translate(-50vw, 50vh);
    opacity: 0;
}

.ownCard {
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}