.userPanes {
    padding: 10px;
    width: calc(100vw / 8);
    display: flex;
    flex-direction: column;
}

.playerBackdrop {
    position: relative;
    width: 100%;
}

.playerBackdropImage {
    width: 100%;
}

.playerName {
    margin: 5px;
    color: white;
    font-size: 2em;
    position: absolute;
    top: 9px;
    left: 16px;
    font-family: 'Arapey', serif;
}

.numberOfCartsText {
    color: black;
    font-family: 'Arapey', serif;
    position: absolute;
    font-size: 1.4em;
    top: 26%;
    right: 10%;
    margin: 0;
}

.numberOfTrainCardsText {
    color: white;
    font-family: 'Arapey', serif;
    font-size: 2em;
    position: absolute;
    top: 48%;
    left: 35%;
    margin: 0;
}

.numberOfRouteCardsText {
    color: white;
    font-family: 'Arapey', serif;
    font-size: 2em;
    position: absolute;
    top: 48%;
    left: 73%;
    margin: 0;
}