.yellowWagons {
    filter: hue-rotate(180deg);
    -webkit-filter: hue-rotate(180deg);
}

.redWagons {
    filter: hue-rotate(140deg) brightness(1.4);
    -webkit-filter: hue-rotate(140deg) brightness(1.4);
}

.greyWagons {
    filter: saturate(0) brightness(1.4);
    -webkit-filter: saturate(0) brightness(1.4);
}

.lightblueWagons {
    filter: hue-rotate(-35deg) brightness(1.7);
    -webkit-filter: hue-rotate(-35deg) brightness(1.7);
}

.brightyellowWagons {
    filter: hue-rotate(-168deg) saturate(2) brightness(4);
    -webkit-filter: hue-rotate(-168deg) saturate(2) brightness(4);
}

.greenWagons {
    filter: hue-rotate(-100deg) brightness(1.6);
    -webkit-filter: hue-rotate(-100deg) brightness(1.6);
}

.purpleWagons {
    filter: hue-rotate(76deg);
    -webkit-filter: hue-rotate(76deg);
}

.carts {
    position: absolute;
    top: 0;
    left: 0;
    max-height: 100%;
    max-width: 100%;
    pointer-events: none;
}

.blueCartsBlinking {
    animation: blueBlink 4s linear;
}

.yellowCartsBlinking {
    animation: yellowBlink 4s linear;
}

.redCartsBlinking {
    animation: redBlink 4s linear;
}

.greyCartsBlinking {
    animation: greyBlink 4s linear;
}

.lightblueCartsBlinking {
    animation: lightblueBlink 4s linear;
}

.brightyellowCartsBlinking {
    animation: brightyellowBlink 4s linear;
}

.greenCartsBlinking {
    animation: greenBlink 4s linear;
}

.purpleCartsBlinking {
    animation: purpleBlink 4s linear;
}

@keyframes blueBlink {
    0% {filter: brightness(8); -webkit-filter: brightness(8);}
    20% {filter: brightness(1); -webkit-filter: brightness(1);}
    40% {filter: brightness(8); -webkit-filter: brightness(8);}
    60% {filter: brightness(1); -webkit-filter: brightness(1);}
    80% {filter: brightness(8); -webkit-filter: brightness(8);}
    100% {filter: brightness(1); -webkit-filter: brightness(1);}
}

@keyframes yellowBlink {
    0% {filter: hue-rotate(180deg) brightness(8); -webkit-filter: hue-rotate(180deg) brightness(8);}
    20% {filter: hue-rotate(180deg) brightness(1); -webkit-filter: hue-rotate(180deg) brightness(1);}
    40% {filter: hue-rotate(180deg) brightness(8); -webkit-filter: hue-rotate(180deg) brightness(8);}
    60% {filter: hue-rotate(180deg) brightness(1); -webkit-filter: hue-rotate(180deg) brightness(1);}
    80% {filter: hue-rotate(180deg) brightness(8); -webkit-filter: hue-rotate(180deg) brightness(8);}
    100% {filter: hue-rotate(180deg) brightness(1); -webkit-filter: hue-rotate(180deg) brightness(1);}
}

@keyframes redBlink {
    0% {filter: hue-rotate(140deg) brightness(8); -webkit-filter: hue-rotate(140deg) brightness(8);}
    20% {filter: hue-rotate(140deg) brightness(1.4); -webkit-filter: hue-rotate(140deg) brightness(1.4);}
    40% {filter: hue-rotate(140deg) brightness(8); -webkit-filter: hue-rotate(140deg) brightness(8);}
    60% {filter: hue-rotate(140deg) brightness(1.4); -webkit-filter: hue-rotate(140deg) brightness(1.4);}
    80% {filter: hue-rotate(140deg) brightness(8); -webkit-filter: hue-rotate(140deg) brightness(8);}
    100% {filter: hue-rotate(140deg) brightness(1.4); -webkit-filter: hue-rotate(140deg) brightness(1.4);}
}

@keyframes greyBlink {
    0% {filter: saturate(0) brightness(8); -webkit-filter: saturate(0) brightness(8);}
    20% {filter: saturate(0) brightness(1.4); -webkit-filter: saturate(0) brightness(1.4);}
    40% {filter: saturate(0) brightness(8); -webkit-filter: saturate(0) brightness(8);}
    60% {filter: saturate(0) brightness(1.4); -webkit-filter: saturate(0) brightness(1.4);}
    80% {filter: saturate(0) brightness(8); -webkit-filter: saturate(0) brightness(8);}
    100% {filter: saturate(0) brightness(1.4); -webkit-filter: saturate(0) brightness(1.4);}
}

@keyframes lightblueBlink {
    0% {filter: hue-rotate(-35deg) brightness(8); -webkit-filter: hue-rotate(-35deg) brightness(8);}
    20% {filter: hue-rotate(-35deg) brightness(1.7); -webkit-filter: hue-rotate(-35deg) brightness(1.7);}
    40% {filter: hue-rotate(-35deg) brightness(8); -webkit-filter: hue-rotate(-35deg) brightness(8);}
    60% {filter: hue-rotate(-35deg) brightness(1.7); -webkit-filter: hue-rotate(-35deg) brightness(1.7);}
    80% {filter: hue-rotate(-35deg) brightness(8); -webkit-filter: hue-rotate(-35deg) brightness(8);}
    100% {filter: hue-rotate(-35deg) brightness(1.7); -webkit-filter: hue-rotate(-35deg) brightness(1.7);}
}

@keyframes brightyellowBlink {
    0% {filter: hue-rotate(-168deg) saturate(2) brightness(8); -webkit-filter: hue-rotate(-168deg) saturate(2) brightness(8);}
    20% {filter: hue-rotate(-168deg) saturate(2) brightness(4); -webkit-filter: hue-rotate(-168deg) saturate(2) brightness(4);}
    40% {filter: hue-rotate(-168deg) saturate(2) brightness(8); -webkit-filter: hue-rotate(-168deg) saturate(2) brightness(8);}
    60% {filter: hue-rotate(-168deg) saturate(2) brightness(4); -webkit-filter: hue-rotate(-168deg) saturate(2) brightness(4);}
    80% {filter: hue-rotate(-168deg) saturate(2) brightness(8); -webkit-filter: hue-rotate(-168deg) saturate(2) brightness(8);}
    100% {filter: hue-rotate(-168deg) saturate(2) brightness(4); -webkit-filter: hue-rotate(-168deg) saturate(2) brightness(4);}
}

@keyframes greenBlink {
    0% {filter: hue-rotate(-100deg) brightness(8); -webkit-filter: hue-rotate(-100deg) brightness(8);}
    20% {filter: hue-rotate(-100deg) brightness(1.6); -webkit-filter: hue-rotate(-100deg) brightness(1.6);}
    40% {filter: hue-rotate(-100deg) brightness(8); -webkit-filter: hue-rotate(-100deg) brightness(8);}
    60% {filter: hue-rotate(-100deg) brightness(1.6); -webkit-filter: hue-rotate(-100deg) brightness(1.6);}
    80% {filter: hue-rotate(-100deg) brightness(8); -webkit-filter: hue-rotate(-100deg) brightness(8);}
    100% {filter: hue-rotate(-100deg) brightness(1.6); -webkit-filter: hue-rotate(-100deg) brightness(1.6);}
}

@keyframes purpleBlink {
    0% {filter: hue-rotate(76deg) brightness(8); -webkit-filter: hue-rotate(76deg) brightness(8);}
    20% {filter: hue-rotate(76deg) brightness(1); -webkit-filter: hue-rotate(76deg) brightness(1);}
    40% {filter: hue-rotate(76deg) brightness(8); -webkit-filter: hue-rotate(76deg) brightness(8);}
    60% {filter: hue-rotate(76deg) brightness(1); -webkit-filter: hue-rotate(76deg) brightness(1);}
    80% {filter: hue-rotate(76deg) brightness(8); -webkit-filter: hue-rotate(76deg) brightness(8);}
    100% {filter: hue-rotate(76deg) brightness(1); -webkit-filter: hue-rotate(76deg) brightness(1);}
}