.usWagons, .euWagons {
    position: absolute;
    top: 0;
    left: 0;
    max-height: 100%;
    max-width: 100%;
    pointer-events: none;
}

.cartsBlinking {
    animation: blink 4s linear;
}

@keyframes blink {
    0% {filter: brightness(6.5); -webkit-filter: brightness(6.5);}
    20% {filter: brightness(1); -webkit-filter: brightness(1);}
    40% {filter: brightness(6.5); -webkit-filter: brightness(6.5);}
    60% {filter: brightness(1); -webkit-filter: brightness(1);}
    6.50% {filter: brightness(6.5); -webkit-filter: brightness(6.5);}
    100% {filter: brightness(1); -webkit-filter: brightness(1);}
}